/schema/postgres/*.sql linguist-language=PLpgSQL
/training/postgres/*.sql linguist-language=PLpgSQL

# Autodetect text files
* text=auto

# Definitively text files
*.md   text

# Definitively binary files
*.png  binary

/.gitattributes     export-ignore
/.gitignore         export-ignore